/* .CodeMirror-wrap {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0.2em;
}

.CodeMirror-focused {
    border: 1px solid #85b7d9;
    border-radius: 0.2em;
    box-shadow: 0 0 0 0 rgba(34,36,38,.35) inset;
} */